language: java
jobs:
  fast_finish: true

branches:
  only:
    - master

jdk:
  - oraclejdk9

addons:
  sonarcloud:
    organization: "jmrozanec-github"
    token:
      secure: "ZmVdpiC5ivHP72R7NZsv3s9XM9WuZQ//psUbpxJf+HLJGes+dAUppkiIBBICLwGstCCdyfTx1XaW56Gh2zTohrNBhv2S7OmrWwp8+o+dCIb1k6B4PsQ3b6h5bplcorAItMstoBZB8EowG875QENwlrZuB/qBHGy61vgERiNzPgA="
script:
   - > 
     if [ "$TRAVIS_PULL_REQUEST" != "false" ];then 
        mvn org.jacoco:jacoco-maven-plugin:prepare-agent clean compile test -Dmaven.javadoc.skip=true;
        sonar-scanner
     fi
   - > 
     if [ "$TRAVIS_PULL_REQUEST" = "false" ];then 
        mvn org.jacoco:jacoco-maven-plugin:prepare-agent package -Dmaven.javadoc.skip=true;
        sonar-scanner
     fi

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'

after_success:
  - mvn cobertura:cobertura coveralls:cobertura
  - bash <(curl -s https://codecov.io/bash)
